# General
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Ignore local system files
*.DS_Store

# Ignore all byte-compiled Python files
*.py[cod]
*$py.class

# Python virtual environment
venv/
ENV/

# Jupyter notebook
.ipynb_checkpoints

# Helm
**/charts/*.tgz
**/tmpcharts
**/charts/*.lock

# Kubernetes
*.kubeconfig

# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
terraform.rc
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Docker
*.cer
*.key
.docker/
**/*.dockerfile
docker-compose*.yml
*.dockerignore
**/.env

# Ignore sensitive data and environments
secrets/
credentials.json

# Node (if applicable)
node_modules/
npm-debug.log

# Log files
*.log
*.sql
*.sqlite

# Windows image file caches
Thumbs.db

# Mac files
.DS_Store

# Thumbnails
._*
# Icon must end with two \r
Icon

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Terraform .terraform directory
.terraform/

# Local .terraform directories
**/.terraform/*

# Terraform .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which usually contain sensitive information
*.tfvars

# Ignore override files as they're usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore sensitive files containing credentials, such as provider.tf and terraform.tfvars files
*provider.tf
*terraform.tfvars

.terraform.lock.hcl
*.tfvars.json
git